{% extends 'layout/base.html' %}


{% block content %}

{% for group, week in classboard_week.items %}
<h1>{{group}}</h1>
<table class="table table-striped">
    <thead>
        <th></th>
        {% for pair in pairs  %}
            <th>{{ pair.1 }}</th>
        {% endfor %}
            
    </thead>
    
   
        
    
        <tbody>
        
        {% for day in week %}
        <tr>
            
            {% for class in day %}
                
                {% if class %}
                    
                    {% if class.teacher %}
                        <td><span class="text-primary">{{ class.subject_name }} </span> <br>
                        
                        {% for teacher in class.teacher.all %}
                            <span class="text-success">{{ teacher }}</span>
                            <br>
                        {% endfor %}
                        </td>   
                    {% else %}
                        <td>{{ class }}</td>
                    {% endif %}
                {% else %}
                <td></td>
                        
                {% endif %}
                    
            {% endfor %}
                
        </tr>
        {% endfor %}
            
       
       
    </tbody>
  
</table>

{% endfor %}
<a class="btn btn-info" href="{% url 'classboard_view' %}">Обратно</a>
{% endblock content %}